.about-class {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.name {
  padding: 20px;
  font-size: 34px;
  text-align: center;
}

.name span {
  font-size: 4rem;
  color: #333;
  font-weight: bold;
  text-shadow: none;
  color: #009afa;
}

.about-class p {
  font-size: 1.5rem;
  color: #555;
  text-align: center;
  padding: 20px;
}
