.pie-chart-container {
  width: 300px;
  color: #fff;
  text-align: center;
  display: none; /* hidden on mobile */
}

@media screen and (min-width: 768px) {
  .pie-chart-container {
    display: block;
  }
}

.pie-title {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.pie-chart {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pie-legend {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  padding: 0 20px;
    font-size: 0.9rem;
}

.dot {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 8px;
  border-radius: 50%;
}
