.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  width: 60%;
  max-height: 90vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background: none;
  color: whitesmoke;
  font-size: 50px;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.modal-image {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.modal-links {
  margin-top: 20px;
}

.modal-links a {
  margin-right: 16px;
  color: #0073e6;
  text-decoration: none;
}

/* Hide modal on mobile */
@media screen and (max-width: 768px) {
  .modal-overlay {
    display: none;
  }
}

